# compiled output
dist
node_modules

.parcel-cache

**/.gradle

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDEs and editors
**/.idea
**/.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/build/

.env
.secrets
.env*
!.env.example
!.env.test*


types/
types_web3/

artifacts/
cache/
typechain/
venv/
cache_forge/
out/
